<!-- ======= Clients Section ======= -->
<section id="client" class="clients sec-height">
    <div class="about-boxes">
      <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-md-12 section-title mb-4 text-left">
                <h2 class="text-left"> {{ .Site.Params.clients.title }}</h2>
                <h5 class="mt-4"> {{ .Site.Params.clients.subTitle | safeHTML }}</h5>
            </div>
        </div>
                    
        <div class="row">
          

          {{range .Site.Params.clients.boxLists}}

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-icon">
              
                <img src="{{.icon | absURL}}" alt="{{.title}}" >
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">{{.title | markdownify}}</a></h5>
                <p class="card-text">{{.text | markdownify }}</p>
              </div>
            </div>
          </div>

        {{end}}

    
        </div>
        
        
          {{ range $index, $element := .Site.Params.clients.belowSection }}
          <div class="row">
              <div class="col-md-5 {{if eq  $index 1}} order-1 {{end}}"   >
                <img src="{{.image | absURL}}" alt="{{.title}}" class="img-fluid">
              </div>
            
            <div class="col-md-7 text-left pt-5">
              
              <h3>{{.title}} </h3>
              <ul class="contentlist">
              {{ range .lists }}
              <li><i class="ri-check-double-line"></i> {{.text}}</li>
              {{end}}
             
               
              </ul>
          </div>
        </div>
          {{end}}
          
         

            
       

        <div class="mt-5"><a href="{{.Site.Params.button5.url | absURL}}" class="btn-learn-more" target="_blank"> {{.Site.Params.button5.caption | safeHTML}} </a></div>
      </div>
    </div>
</section><!-- End Clients Section -->