
  <!-- Vendor JS Files -->
  <script src="{{ "vendor/jquery/jquery.min.js"| absURL }}"></script>
  <script src="{{ "vendor/bootstrap/js/bootstrap.bundle.min.js"| absURL }}"></script>
  <script src="{{ "vendor/jquery.easing/jquery.easing.min.js"| absURL }}"></script>
  <script src="{{ "vendor/php-email-form/validate.js"| absURL }}"></script>
  <script src="{{ "vendor/waypoints/jquery.waypoints.min.js"| absURL }}"></script>
  <script src="{{ "vendor/counterup/counterup.min.js"| absURL }}"></script>
  <script src="{{ "vendor/venobox/venobox.min.js"| absURL }}"></script>
  <script src="{{ "vendor/owl.carousel/owl.carousel.min.js"| absURL }}"></script>
  <script src="{{ "vendor/isotope-layout/isotope.pkgd.min.js"| absURL }}"></script>
  <script src="{{ "vendor/aos/aos.js"| absURL }}"></script>

  {{ "<!-- Template Main JS File -->" | safeHTML }}
<script src="{{ "js/main.js"| absURL }}"></script>

