<!-- ======= Reviews Section ======= -->
<section id="reviews" class="testimonials " style="background: url({{.Site.Params.testimonialsBackground.image}}) no-repeat;  ">
    <div class="container d-flex sec-height" data-aos="fade-up">
      <div class="row justify-content-center align-self-center overflow-hidden x">
        <div class="owl-carousel testimonials-carousel">

          {{range .Site.Params.testimonials}}
  
          <div class="testimonial-item">
            {{if .image }}
            <img src="{{.image | absURL }}" class="testimonial-img" alt="">
            {{end}}
            <h3>{{.name | safeHTML }}  {{.Site.Params.testimonialsBackground.image}}</h3>
            <h4>{{.position | safeHTML  }}</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{.text | safeHTML  }}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        {{end}}
  
         
        </div>
       
      
      
      </div>
      
    
    </div>
  </section><!-- End Pricing Section -->
